.wallet::after {
    content:"";
    margin-top:80px;
    background-color: black;
    opacity:0.5;
    height:130vh;
    border-radius: 10px;
    width: auto;
    position: absolute;
    top:20px;
    bottom:0;
    left: 200px;
    right: 200px;
    z-index: -1;
}

.wallet {
    margin-inline: auto;
    color: white;
}

.content {
    text-align: center;
    opacity: 120%;
}

.row {
    padding: 20px;
}